body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    

}

#container{
    width: 70%;
    text-align: left;
    border: 1px solid gray;
    margin: auto;
}

h1{
    font-size: 50px;
}

#cabecera{
    background-color: rgb(0, 7, 102);
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 0 10 0;
    padding: 30;
    font-family: 'Exo 2', sans-serif;
    font-size: 40;
}