body{
    
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

#footer {
    background: rgb(255, 255, 255);
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20;
    color: white;
    color: black;
}


#post {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}   

h1{
    font-size: 50px;
    margin: 0;
}

#cabecera{
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    padding: 30;
    font-family: 'Exo 2', sans-serif;
    font-size: 40;
    
}

#imagen {
    display:flex;
    justify-content: center;
    margin: 20px;
}

#image {
    width: 30%;
}